<!DOCTYPE html>
<html>
<head>

  <title>Cristo Mathew</title>
</head>
<style>
body {
  {% load static %}

  background-image: url("{% static "home/background.jpg" %}");
  background-color: #cccccc;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
</style>
<body>
  {% include 'navbar.html' %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}
    replace me
  {% endblock %}

  </body>
</html>
